.topMenu {
	padding: 5px 5px;
	display: block;
	color: #757575;
	text-decoration: none;
	
}

body {
	/*width: 15%;
	text-align: left;
	position: absolute;
	background: #FFFFCC;
	background: -webkit-linear-gradient(top, #cdefff 15%, #bbbbbb 100%);
	background: #cdefff;
	font-family: verdana, serif;
	font-size: 14px;*/
}
nav {
	text-align: left;
	position: absolute;
	width: 15%;
}

nav ul {
	background: #FFFFCC;
	background: -webkit-linear-gradient(top, #cdefff 0%, #bbbbbb 100%);
	padding: 0 10px;
	list-style: none;
	position: relative;
	display: inline-table;
	width: 100%;
}
nav ul li {
	float: righth;
}

/* When hovering over li */

nav ul li:hover > ul {
	display: block;
}

/* Changes the link color on hover */

nav ul li:hover a {
	color: #fff;
}
/* Changes the background of list item on hover */

nav ul li:hover {
	background: #4b545f;
	background: -webkit-linear-gradient(top, #4f5964 0%, #5f6975 40%);
}
nav ul:after {
	content:none;
	clear: both;
	display: block;
}

#splash {
	position: absolute;
	top: 100px;
	left: 20px;
	width: 200px;
	height: 25px;
	display: block;
}

#main {
	display: block;
}
